.lottery-contract .lottery-form, .lottery-contract .contract-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lottery-contract .lottery-form .amount-input {
  margin: 10px 0 10px;
}

.lottery-contract .lottery-form .amount-input input {
  height: 20px;
}

.lottery-contract .lottery-form .amount-input .enter-button {
  height: 25px;
  margin-left: 10px;
}

.lottery-contract .pick-winner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lottery-contract .pick-winner .pick-winner-button {
  height: 35px;
  margin-bottom: 10px;
}

.lottery-contract .loading {
  display: flex;
  justify-content: center;
}